*{
    box-sizing: border-box;
    margin:0;
    padding:0;    
}
.container{
    width:100vw;
    height:100vh;

}

.laneContainer{
    width: 301px;
    margin: 0 auto;
    border: 1px solid black;
    height:600px;
    overflow: hidden;
}
.start{
    color:white;
    background-color: rgb(101, 99, 99);
    font-weight:800;
    padding: 20px;
    border-radius: 10px;
    display:float;
    transform: translate(330%,150%);
    border: transparent;
}
.controls{
    transform: translate(260%,350%);
}
.start:hover{
background-color:rgb(81, 78, 78) ;
}